.spark-header {
    margin: 0px;
    padding: 0px;
    background: #0054ae;
    height: 70px;
}

.spark-header-line {
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg,
            #5400c0 5%,
            #057aff 50%,
            #16cfb1 98.99%);
}

.spark-logo {
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    float: left;
}

.spark-title {
    height: 60px;
    line-height: 60px;
    float: left;
    color: white;
    font-size: 24px;
}

.html-container {
    padding: 0;
}

.header {
    margin: 0px;
    padding: 10px;
    background: #0054ae;
    color: white;
    font-size: 24px;
}

.spark-footer {
    background: #0054ae;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.spark-footer-info {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
}

footer {
    display: none !important
}

#results_plot {
    height: 330px;
}

#pipeline_image img {
    cursor: pointer !important;
    padding: 40px;
}

#device_table table {
    width: 100%;
}

#device_table table>thead {
    display: none;
}

.configure-and-run-button {
    background-color: unset;
    border: 1px solid rgb(119, 161, 205);
    color: rgb(119, 161, 205);
}
