*.pyc
**/data
__pycache__/
.*_cache/
envs
**/charts
coverage
.coverage
virtual_env
workspace
ov_models
.vscode
.venv
.coverage-report/
**/models
*data/
**/ovms_config
**/ov_models
*.lock
!poetry.lock
.env
.coverage
ov_model_venv
ovms_config