README.md @xwu2intel
LICENSE @xwu2intel
CONTRIBUTING.md @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md @xwu2intel
/.github/workflows/dls*.yml @tbujewsk @nszczygl9 @dmichalo
/microservices/document-ingestion/ @bharagha @ganesanintel @yogeshmpandey
/microservices/object-store/ @bharagha @ganesanintel @yogeshmpandey
/sample-applications/chat-question-and-answer/  @bharagha @ganesanintel @yogeshmpandey
/sample-applications/chat-question-and-answer-core/  @bharagha @ganesanintel @yogeshmpandey
/tools/visual-pipeline-and-platform-evaluation-tool/ @dnoliver @oommensy @basakcap
/microservices/dlstreamer-pipeline-server/ @ajagadi1 @rrajore @sajeevrajput
/microservices/model-registry/ @rrajore @elroyashjr
/libraries/dl-streamer/ @tbujewsk @OskarFiedot @marcin-wadolkowski @nszczygl9 @dmichalo @msmiatac
/microservices/time-series-analytics/  @vkb1 @sathyendranv @pooja-intel