utils/tools/model_downloader/__pycache__
**/*.swo
**/*.swp
**/__pycache__
**/*.pyc
vaserving/

**/local_*
**/mr_models
**/*venv

# Testing
**/*.coverage
**/*pytest*

# VSCode
**/*.vscode

# Certificates
**/Certificates
