*.lo
*.o
*.m4
*.la
*.in
*.log

m4/
.deps/
.libs/
autom4te.cache/

.dirstamp
INSTALL
Makefile
compile
config.guess
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
